body {
    font-family: 'Open Sans', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 100;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("../img/fb_title_op.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-img {
    opacity: 0.1;
}